@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.feeling-good-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}
  
h1.feeling-good-title {
  margin: 1rem;
  /* font-size: 3.5rem; */
  font-weight: bolder;
}
  
.flippy-boxes {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 2.5rem;
  font-weight: bolder;
}
  
.flippy-box {
  width: calc(33.33% - 1rem);
  margin: 0.5rem;
  border-radius: 5rem;
  transition: transform 0.5s ease-in-out;
  height: 30vh;
}

.flippy-box {
  perspective: 1000px; /* Needed to give the 3D flip effect depth */
}

.flippy-inner {
  transform-style: preserve-3d; /* Ensures child elements are in 3D space */
  transition: transform 0.6s; /* Adjust timing as necessary */
  width: 100%;
  height: 100%;
}

.flippy-box.selected .flippy-inner {
  transform: rotateY(180deg); /* Flips the .flippy-inner to show the back */
}

.flippy-front, .flippy-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides the back face of the flip */
  display: flex;
  align-items: center;
  justify-content: center;
}

.flippy-front {
  transform: rotateY(0deg);
}

.flippy-back {
  transform: rotateY(180deg);
}

.flippy-inner {
  position: relative;
  height: 50%;
  width: 100%;
  backface-visibility: hidden;
}
